<!DOCTYPE html>
<html>
<head>
  <title> {{title}} </title>
  <link rel='icon' href='/img/enso.png'>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <img class='portrait' src="img/enso.png" title="We searched and searched, but the image was not found."/>
        <img class='portrait' src="img/enso.png" title="We searched and searched, but the image was not found."/>
    </div>
    {{>footer}}
</body>
</html>
