<!DOCTYPE html>
<html>
<head>
  <title> {{title}} </title>
  <link rel='icon' href='/img/enso.png'>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Chris Hatch. It uses data from mapbox.com and darksky.net.</p>
        <img class='portrait' src="img/enso.png" title="Zen circle" alt="Black Zen Circle on a white background."/>
    </div>
    {{>footer}}
</body>
</html>
